
{% load static %}

<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login | Forum</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static './bs/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static './css/styles.css' %}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        {% block body %}

        {% endblock %}


        <!-- jQuery -->
        <script src="{% static './bs/js/jquery.min.js' %}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="{% static './bs/js/bootstrap.min.js' %}"></script>
    </body>
</html>
