{% extends 'user_profile/base.html' %}
{% block body %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4" id="loginBlock">

                    <div class="logo">
                        <div>
                            <a href="./">Forum</a>
                        </div>
                    </div>

                    <div class="pageTitle">Login</div>

                    <div class="row pad">
                        <div class="col-lg-10 col-lg-offset-1">
                            <form action="" method="POST" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    {{ form.username }}
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                  {{ form.password }}
                                </div>

                                <div style = "color: red;">{{ form.errors }}</div>


                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        Login <i class="glyphicon glyphicon-arrow-right"></i>
                                    </button>
                                    <a href="./register.html" class="btn btn-link pull-right">
                                        <i class="glyphicon glyphicon-plus-sign"></i> Go to Register
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>


                    <footer>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="center">
                                    Copyright &copy; 2018 Forum. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </footer>

            </div>
        </div>
    </div>

{% endblock %}
