{% extends 'user_profile/base.html' %}
{% block body %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3" id="loginBlock">

                    <div class="logo">
                        <div>
                            <a href="./">Forum</a>
                        </div>
                    </div>

                    <div class="pageTitle">Register</div>

                    <form action="" method="POST" role="form">
                      {% csrf_token %}
                        <div class="row pad">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="name">Username</label>
                                {{ form.username }}
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                {{ form.password1 }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                {{ form.email }}
                                </div>

                                <div class="form-group">
                                    <label for="password">Confirm Password</label>
                                {{ form.password2 }}
                                </div>
                            </div>
                            <div style="color: red;">{{ form.errors  }}</div>
                        </div>

                        <div class="row pad">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-plus-sign"></i> Register
                                    </button>
                                    <a href="./login.html" class="btn btn-link pull-right">
                                        Go to Login <i class="glyphicon glyphicon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>


                    <footer>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="center">
                                    Copyright &copy; 2018 Forum. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </footer>

            </div>
        </div>
    </div>
{% endblock %}
