{% extends 'user_profile/base.html' %}
{% block body %}

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0">

                    <div class="logo">
                        <div>
                            <a href="./">Forum</a>
                            <span class="tagline">...cool community forum</span>
                        </div>
                    </div>
                    <div class="menu">
                        <a href="./index.html" class="m-item">Home</a> |
                        <a href="./profile.html" class="m-item">Profile</a> |
                        <a href="./login.html" class="m-item">Logout</a>
                    </div>

                        <div class="pageTitle">
                            <a href="">General Thread</a>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <a href="./index.html" class="btn btn-default btn-sm">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Back to Threads
                                </a>
                            </div>
                        </div>

                        <div class="row pad">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="big">Thread: General Thread</p>
                                            </div>
                                            <div class="col-lg-12">
                                                This is where we talk about every issue you can think of no matter how small
                                                or complex.
                                            </div>

                                            <div class="col-lg-12">
                                                <br />
                                                <i class="glyphicon glyphicon-calendar"></i>
                                                25 June, 2017 &nbsp;
                                                <a href="#_reply"><i class="glyphicon glyphicon-comment"></i> Post Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3 class="">Replies &mdash; (2 total)</h3>

                        <div class="panel panel-primary reply" id="r1" style="border-radius: 10px;">
                            <div class="panel-body">
                                <div class="row reply">
                                    <div class="col-lg-9">
                                        <div class="reply-msg">
                                            I love this thread
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="reply-details">
                                            <i class="glyphicon glyphicon-calendar"></i> 26 June, 2017 &nbsp; <br />
                                            <i class="glyphicon glyphicon-user"></i> Alexander McQuinn
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary reply" id="r2" style="border-radius: 10px;">
                            <div class="panel-body">
                                <div class="row reply">
                                    <div class="col-lg-9">
                                        <div class="reply-msg">
                                            So do I :-)
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="reply-details">
                                            <i class="glyphicon glyphicon-calendar"></i> 23 June, 2017 &nbsp; <br />
                                            <i class="glyphicon glyphicon-user"></i> Quentin Lance
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pad">
                            <div class="col-lg-12 pad">
                                <div class="panel panel-primary">
                                    <!-- <div class="panel-heading big">
                                        <i class="glyphicon glyphicon-comment"></i> Post Reply
                                    </div> -->
                                    <div class="panel-body pad" id="_reply">
                                        <form action="" method="POST" role="form" id="theForm">

                                            <div class="form-group">
                                                <textarea name="reply" id="reply" class="form-control" rows="5" required="required" placeholder="Post Reply"></textarea>
                                            </div>

                                            <button
                                                type="submit"
                                                class="btn btn-primary">
                                                <i class="glyphicon glyphicon-save"></i> Submit
                                            </button> &nbsp;
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    <footer>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="center">
                                    Copyright &copy; 2018 Forum. All rights reserved.
                                </div>
                            </div>
                        </div>
                    </footer>

            </div>
        </div>
    </div>

{% endblock %}
